// FlipClock Variables
$fc-font-family: "Helvetica Neue", Helvetica, sans-serif !default;
$fc-face-color: #ccc !default;
$fc-face-background: #333 !default;
$fc-face-font-size: 4.5em !default;
$fc-face-width: 4em !default;
$fc-face-height: 6em !default;
$fc-flip-shadow-color: #000 !default;
